<div class="nav_selector_fluid_hold">
    <div class="nav_selector_fluid_hold__bubble nav_selector_fluid_hold__bubble--active"></div>
    <div class="nav_selector_fluid_hold__bubble nav_selector_fluid_hold__bubble--hover"></div>
    <nav class="nav_selector_fluid_hold__nav">
        <a href="#" class="nav_selector_fluid_hold__link is-active">Dashboard</a>
        <a href="#" class="nav_selector_fluid_hold__link">Projects</a>
        <a href="#" class="nav_selector_fluid_hold__link">Team</a>
        <a href="#" class="nav_selector_fluid_hold__link">Settings</a>
    </nav>
</div>
